<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>All Categories</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <a href="#" th:href="@{/}" class="btn btn-primary mt-3" role="button">Home</a>
        <a href="#" th:href="@{/categories/categoryForm}" class="btn btn-success mt-3" role="button">Add Category</a>

        <div class="alert alert-success mt-2" th:if="${param.categoryAdded}" role="alert">
            Category added successfully.
        </div>

        <h1 class="mt-2">All Categories:</h1>
        <table class="table table-striped table-bordered mt-3">
            <thead class="table table-dark">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Category Name</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="category : ${categories}">
                    <td th:text="${category.id}" />
                    <td th:text="${category.name}" />
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>