<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>All Categories</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    <style>
        .table th, .table td {
            width: 50%;
        }
    </style>
</head>
<body>
    <div class="container">
        <a href="#" th:href="@{/}" class="btn btn-primary mt-3" role="button">Home</a>
        <a href="#" th:href="@{/categories/categoryForm}" class="btn btn-success mt-3" role="button">Add Category</a>

        <div class="alert alert-success mt-2" th:if="${param.categoryAdded}" role="alert">
            Category added successfully.
        </div>
        <div class="alert alert-success mt-2" th:if="${param.categoryDeleted}" role="alert">
            Category deleted successfully.
        </div>

        <h1 class="mt-2">All Categories:</h1>
        <table class="table table-striped table-bordered mt-3">
            <thead class="table table-dark">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Category Name</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="category : ${categories}">
                    <td th:text="${category.id}" />
                    <td>
                        <div class="d-flex justify-content-between">
                            <span th:text="${category.name}"></span>

                            <div>
                                <form th:action="@{/categories/modifyCategory}" method="POST" style="display: inline;">
                                    <input type="hidden" name="categoryNameToModify" th:value="${category.name}">
                                    <button type="submit" class="btn btn-success">Modify</button>
                                </form>

                                <form th:action="@{/categories/deleteCategory}" method="POST" style="display: inline;">
                                    <input type="hidden" name="categoryIdToDelete" th:value="${category.id}" />
                                    <button type="submit" class="btn btn-danger">Delete</button>
                                </form>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>